<div class="container">
  <h1>Teams</h1>
  <% @teams.each do |team|  %>
    <p><%= team.name %></p>
    <ul>
      <% team.squads.each do |squad| %>
        <li><%= link_to squad.name, squad_path(squad) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
