// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $dark-gray: #0E0000;
// $gray: #615c5c;
// $light-gray: #F4F4F4;

$red: #EA526F;
$blue: #279AF1;
$yellow: #FFC65A;
$orange: #FA7E61;
$darker-gray: #121212;
$dark-gray: rgba(35, 35, 35, 0.8);;
$gray: #434343;
// $light-gray: #b9b9b9;
$light-gray: #DAD2D8;
$purple: #3700B3;
$teal: #03DAC6;
$green: #03C7B4;
