// Define variables for your color scheme
$red: #EA526F;
$blue: #279AF1;
$yellow: #F4D58D;
$orange: #FA7E61;
$darker-gray: #121212;
$dark-gray: rgba(35, 35, 35, 0.9);;
$gray: #434343;
$light-gray: #DAD2D8;
$purple: #3700B3;
$teal: #03DAC6;
$green: #03C7B4;
