<div class="d-flex align-items-center justify-content-evenly my-1">
  <% player.player_tags.each do |player_tag| %>
    <%= render 'player_tags/destroy', player_tag: player_tag, tag: player_tag.tag %>
  <% end %>
  <% tags.where.not(id: player.tags).each do |tag| %>
    <div id="player-<%= player.id %>-tag-<%= tag.id %>">
      <%= render 'player_tags/form', player: player, player_tag: player_tag, tag: tag %>
    </div>
  <% end %>
</div>
