<div class="d-flex align-items-center spot-place-row" data-id="<%= spot_place.id %>">
  <i class="fa-solid fa-grip me-1 handle"></i>
  <small class='text-nowrap'><%= spot_place.player.name %></small>
</div>
