<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="importModalLabel">Import HTML</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for squad, url: import_squad_path(squad), method: :post do |f| %>
          <div class="col-12">
            <%#= f.input :uploads, as: :file %>
            <%= f.input :uploads, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, wrapper_html: { class: 'text-center'}, label: 'Choose file' %>
          </div>
          <!-- <div class="col-12"> -->
          <%#= f.submit "Import", class: "btn btn-primary" %>
          <!-- </div> -->
        <% end %>
        <div class="d-flex justify-content-center">
          <%= link_to 'See last import', import_squad_path(squad), class: 'text-light'  %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Manual Add Modal -->
<div class="modal fade" id="manualModal" tabindex="-1" aria-labelledby="manualModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="manualModalLabel">Add Player</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'players/form', player: Player.new %>
      </div>
    </div>
  </div>
</div>
