<div class="container mt-3">
  <%= render 'squads/header', squad: @squad %>
  <%= render 'squads/import', squad: @squad %>
  <% @spots.each do |row_number, spots| %>
    <div class="d-flex justify-content-evenly mb-5">
      <% spots.each do |spot| %>
        <%= render 'spots/card', spot: spot %>
      <% end %>
    </div>
  <% end %>
</div>
