.flex-same-size {
  flex: 1 1 0px;width: 0;
}

.text-small {
  font-size: 0.7em;
}

.text-transparent {
  color: transparent;
}

.text-darker-gray {
  color: $darker-gray;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-gray {
  color: $gray;
}

.cursor-pointer {
  cursor: pointer;
}
